{% extends 'back/base-back.html.twig' %}
{% trans_default_domain 'messages' %}

{% block title %}
    {{'backend.projectmanager.title'|trans}}
{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col">
                <h1> {{'backend.projectmanager.title'|trans}}</h1>
            </div>
        </div>
    </div>


{% endblock %}
